.crud-block {
  width: 570px;
  margin: 10px auto;
  padding: 35px 0;
  border-radius: 30px;
  box-shadow: 0 0 20px 10px rgb(0, 0, 0);
  background-color: rgb(38, 38, 38);
  /* background: linear-gradient(135deg, rgba(139, 139, 139, .5) 10%, rgb(0, 0, 0, .3), rgb(139, 139, 139, .5), rgb(139, 139, 139, .5), rgb(0, 0, 0, .1), rgb(139, 139, 139, .5)); */
}



.allergy {
  border: none;
  background-color: rgb(140, 140, 140);
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
  margin: 10px;
  transition: .7s;
}

.symptoms::placeholder,
.allergy::placeholder,
.inijury::placeholder,
.name::placeholder,
.illness::placeholder,
.photo::placeholder {
  color: rgb(26, 26, 26);
}

.crud-input-block1 {
  margin-top: 15px;
  width: 450px;
  padding: 30px 0;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(79, 79, 79);
}

.age,
.height,
.weight {

  background-color: rgb(140, 140, 140);

  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black,
    0 10px 20px -8px rgb(0, 0, 0);
  border: none;
  transition: .7s;
}

.age::placeholder,
.height::placeholder,
.weight::placeholder {
  color: black;
}

.crud-input-block2 {
  margin-top: 5px;
  width: 500px;
  padding: 30px 0;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(79, 79, 79);
}

.crud-inputs-block4 {
  margin-top: 20px;
  width: 500px;
  padding: 0px 0 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  background-color: rgb(79, 79, 79);
  box-shadow: 0 0 20px rgb(36, 255, 149, .4);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}

.crud-inputs-block3 {
  width: 500px;
  padding: 30px 0 10px;
  border-radius: 18px;
  background-color: rgb(79, 79, 79);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 20px rgb(36, 255, 149, .4);
}

.symptoms {
  border: none;
  background-color: rgb(140, 140, 140);
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
  margin: 10px;
  transition: .4s;
}

.symptoms:hover,
.age:hover,
.height:hover,
.weight:hover,
.allergy:hover,
.photo:hover,
.name:hover,
.illness:hover,
.inijury:hover {
  box-shadow: 0 10px 20px -8px rgb(48, 255, 159);
  transition: .6s;
}

.create-btn {
  width: 300px;
  height: 33px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: .4s;
  background-color: rgb(0, 255, 157);
  font-size: 1.3em;
}

.create-btn:hover {
  box-shadow: 0 10px 20px rgb(179, 208, 83);
  transform: translateY(-3px);
}

.create-btn:active {
  transition: .2s;
  box-shadow: 0px 3px 10px rgb(146, 255, 63);
  transform: translateY(2px);
}

.inijury {
  width: 400px;
  border: none;
  background-color: rgb(140, 140, 140);
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
  margin: 10px;
  /* margin-left: 0px; */
  transition: .7s;
}

.input-block2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.name {
  border: none;
  background-color: rgb(140, 140, 140);
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
  margin: 10px;
  transition: .7s;
}

.illness {
  border: none;
  background-color: rgb(140, 140, 140);
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
  margin: 10px;
  transition: .7s;
}

.photo {
  border: none;
  background-color: rgb(140, 140, 140);
  width: 400px;
  height: 30px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  border-radius: 10px;
  box-shadow: 0 1px 0 black, 0 10px 20px -8px rgb(0, 0, 0);
  margin: 10px;
  transition: .7s;
}

input:focus::placeholder {
  -moz-text-blink: true;
  transition: 1s;
  color: transparent;
}

.css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

.css-rqf8pt-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
  border-bottom: 2px solid white !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  color: white !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: rgb(154, 154, 154) !important;
}


.menu-item {
  transition: .5s;
}

.menu-item:hover {
  background-color: black !important;
  color: aliceblue;
  transition: .8s;
}