@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');



.login-form {
  font-size: 1.3rem;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 2vw;
  display: flex;
  flex-direction: column;
  /* margin: 7vw 0 0 45vw; */
  margin: 3vw auto;
  border-radius: 1.6vw;
}

.login-form>input {
  width: 70%;
  height: 40px;
  border-radius: .7vw;
  text-align: center;
  border: none;
  margin: .8vw auto;
  font-family: 'Electrolize', sans-serif;
  font-size: .8em;
  transition: .4s;
}

.login-form>input:hover {
  background-color: rgb(0, 187, 255);
  transform: translateY(-3px);
}

.login-form>input:focus {
  transform: translateY(2px);
  transition: .6s;
  background-color: aliceblue;
}

.login-form>h3 {
  text-shadow: 0 3px 0 #000000, 0 -2px 1px rgba(0, 255, 128, 0.574);
  margin: auto;
  color: aliceblue;
  font-family: 'Electrolize', sans-serif;
  font-size: 1.8em;
  margin-bottom: 20px;
}

.login-btn {
  background: rgb(0, 255, 136);
  font-family: 'Electrolize', sans-serif;
  box-shadow: 0 20px 30px -6px black, 0 0px 4px -8px black;
  font-size: 1.2rem;
  border: none;
  border-radius: .6vw;
  width: 200px;
  height: 40px;
  margin: 1vw auto;
  transition: .5s;
}

.login-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 30px -6px rgb(0, 140, 255), 0 0px 4px -8px rgb(0, 255, 0), inset 0 0 100px rgb(255, 255, 255);
  transition: .7s;
}

.login-btn:active {
  transform: translateY(2px);
  box-shadow: 0 20px 20px -6px rgb(0, 140, 255), 0 0px 1px -8px rgb(0, 255, 0);
  transition: .3s;
}

.login-form>h5 {
  display: inline-block;
  margin: 1vw auto .5vw;
  color: antiquewhite;
}

.recovery {
  display: inline-block;
  margin-top: .1vw;
  margin-left: 140px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.reg-link {
  display: inline-block;
  margin: .4vw auto;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}