.main-container {
  display: flex;
  justify-content: space-between;
}

.main-container__info-parent-block {
  width: 83.7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container__info-child-block {
  width: 80%;
  height: 90vh;
  background: #E7E8EF;
  border-radius: 24px;
  box-shadow: 1px 1px 26px 2px rgba(86, 105, 255, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 0;
}

.weights-block {
  /* width: 250px; */
  background: rgba(209, 216, 255, 1);
  border-radius: 8px;
  padding: 9px 37px;
  margin-bottom: 40px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.weights-block>h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #001233;
}

.person-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 88%;
  margin-bottom: 50px;
}

.person-form>div>input {
  width: 100px;
  text-align: center;
  height: 33px;
  font-size: 17px;
  border-radius: 8px;
  border: none;
  border: 1px solid black;
  outline: 1px solid black;
}

.person-form>div>span {
  font-size: 18px;
  line-height: 22px;
  margin-right: 15px;
  color: #001233;
}

.gender-select {
  width: 100px;
  text-align: center;
  border-radius: 8px;
  background: #fff;
  border: 1px solid black;
  outline: 1px solid black;
  height: 33px;
  font-size: 17px;
}

.diagram-container {
  display: flex;
  width: 99%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.diagram-container__left-block {
  position: relative;
  width: 395px;
  height: 37vh;
  background: url(../images/Ellipse\ 17.svg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  padding-top: 50px;
  align-items: flex-end;
}

.siluet {
  width: 140px;
  height: 250px;
  margin: auto;
}

.diagram-container__right-block {
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

.diagram-container__right-block>li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diagram-container__right-block>li>div {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 200;
}

.diagram-container__right-block>li>h5 {
  font-weight: 600;
  width: 25%;
}

.diagram-container__right-block>li>div>div {
  width: 27px;
  height: 27px;
  border-radius: 15px;
  margin-right: 15px;
}

.weight-inp-block>div {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weight-inp-block>div>input {
  text-align: center;
  width: 40%;
  height: 33px;
  font-size: 17px;
  border-radius: 8px;
  border: none;
  border: 1px solid black;
  outline: 1px solid black;
  height: 31px;
}

.weight-inp-block>div>span {
  font-size: 18px;
  line-height: 22px;
  margin-right: 15px;
  color: #001233;
}

.weight-inp-block {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.bodyIndex-block {
  padding: 16px;
  background: #5669FF;
  border-radius: 8px;
}

.bodyIndex-block>h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #F1F3FF;
}

.save-btn {
  width: 100px;
  height: 35px;
  background-color: #909CFF;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  transition: .2s;
}

.disadvantage {
  position: absolute;
  bottom: 20%;
  left: -6%;
  rotate: -40deg;
}

.norma {
  position: absolute;
  top: 24%;
}

.excess {
  position: absolute;
  top: -4%;
  left: 28%;
  rotate: 35deg;
}

.fatness-1 {
  position: absolute;
  top: -4%;
  left: 65%;
  rotate: 80deg;
}

.fatness-2 {
  position: absolute;
  top: 27%;
  right: -1%;
  rotate: 120deg;
}

.fatness-3 {
  position: absolute;
  bottom: 16%;
  right: -5.5%;
  rotate: 170deg;
}

.delete-btn {
  width: 100px;
  height: 35px;
  background-color: #ff4141;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  transition: .2s;
}

.delete-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 18px -12px black;
}

.delete-btn:hover {
  transform: translateY(0px);
  background-color: red;
  box-shadow: 0 10px 20px -10px rgb(255, 83, 178);
}

.save-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 15px 18px -12px black;
}

.save-btn:active {
  transform: translateY(0px);
  background-color: #d2b5f0;
  box-shadow: 0 10px 20px -10px rgb(0, 255, 179);
}

.back-ellipse-1,
.back-ellipse-2,
.back-ellipse-3,
.back-ellipse-4,
.back-ellipse-5 {
  position: absolute;
  width: 307px;
  height: 311px;
  border-radius: 200px;
  filter: blur(200px);
  z-index: -1;
}

.back-ellipse-1 {
  background: #338BB1;
  left: 801px;
  top: 5%;
}

.back-ellipse-2 {
  background: rgba(106, 121, 252, 0.7);
  left: 286px;
  top: 15%;
}

.back-ellipse-3 {
  background: #6EC4CA;
  left: 728px;
  top: 40%;
}

.back-ellipse-4 {
  background: #B5BCF0;
  left: 339px;
  bottom: 0%;
}

.back-ellipse-5 {
  background: rgb(56, 77, 243, .3);
  left: 952px;
  bottom: 0%;
}

.siteBar-toggler {
  display: none;
}

@media all and (max-width: 1133px) {
  .siteBar {
    width: 21.3%;
  }

  .back-ellipse-5 {
    left: 72%;
  }

  .main-container__info-child-block {
    width: 95%;
    padding: 20px 40px 0;
  }

  .disadvantage {
    width: 25px;
    bottom: 20%;
    left: 0%;
    rotate: -45deg;
  }

  .norma {
    width: 25px;
    top: 27%;
    left: 5%;
  }

  .excess {
    width: 25px;
    top: -5%;
    left: 30%;
    rotate: 35deg;
  }

  .fatness-1 {
    width: 25px;
    top: -4%;
    left: 65%;
    rotate: 90deg;
  }

  .fatness-2 {
    width: 25px;
    top: 28%;
    right: 5%;
    rotate: 120deg;
  }

  .fatness-3 {
    width: 25px;
    bottom: 13%;
    right: 2%;
    rotate: 175deg;
  }

}

@media all and (max-width: 745px) {

  .logo-block {
    padding: 15px 0;
    width: 90%;
    justify-content: space-around;
  }

  .logo-block>img {
    width: 60px;
  }

  .logo-block>h2 {
    font-size: 20px;
  }

  .navigate-block {
    padding-left: 0;
  }

  .navigate-block>button {
    width: 160px;
    font-size: 16px;
  }

  .logout-btn {
    left: 30px;
  }

  .main-container__info-child-block {
    padding: 40px 0;
    height: 98vh;
    align-items: center;
  }

  .diagram-container {
    flex-direction: column;
    align-items: center;
  }

  .person-form {
    margin: 0 auto;
    justify-content: space-between;
  }

  .person-form>div {
    text-align: center;
    width: 122px;
  }

  .diagram-container__right-block>li>h5 {
    font-size: 16px;
  }

  .diagram-container__right-block>li>div {
    font-size: 16px;
  }

  .back-ellipse-1,
  .back-ellipse-3,
  .back-ellipse-5 {
    left: 58%;
  }

  .disadvantage {
    bottom: 28%;
    left: -6%;
    rotate: -45deg;
  }

  .norma {
    top: 32%;
    left: 0%;
  }

  .excess {
    top: 10%;
    left: 28%;
    rotate: 35deg;
  }

  .fatness-1 {
    top: 10%;
    left: 67%;
    rotate: 85deg;
  }

  .fatness-2 {
    top: 32%;
    right: 0%;
    rotate: 120deg;
  }

  .fatness-3 {
    bottom: 23%;
    right: -4%;
    rotate: 170deg;
  }

}

@media all and (max-width: 376px) {

  .siteBar {
    position: absolute;
    transform: translateX(-300px);
    z-index: 1;
    transition: .6s;
  }

  .main-container__info-parent-block {
    width: 100%;
    padding-top: 8px;
  }

  .weights-block {
    margin-bottom: 20px;
  }


  .main-container__info-child-block {
    position: relative;
    width: 95%;
  }

  .person-form {
    width: 95%;
    /* flex-wrap: wrap; */
  }

  .diagram-container__right-block>li>h5 {
    font-size: 12px;
    font-weight: 400;
  }

  .diagram-container__right-block>li>div>h5 {
    font-size: 14px;
    font-weight: 400;
  }

  .person-form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px !important;
  }

  .person-form>div>span {
    margin: 0;
    font-size: 14px;
  }

  .person-form>div>input {
    width: 60px;
  }

  .gender-select {
    margin-left: 0;
    width: 60px;
  }

  .weight-inp-block {
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .weight-inp-block>div {
    padding-left: 15px;
  }

  .weight-inp-block>div>span {
    font-size: 16px;
  }

  .weight-inp-block>div>input {
    width: 30%;
  }

  .diagram-container__left-block {
    width: 280px;
    height: 33vh;
  }

  .diagram-container__right-block {
    gap: 1vh;
  }

  .siluet {
    height: 180px;
  }

  .bodyIndex-block {
    padding: 0;
    background: none;
  }

  .bodyIndex-block>h3 {
    font-size: 18px;
    color: #001233;
  }

  .siteBar-toggler {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 40px;
    left: 25px;
    width: 30px;
    height: 30px;
    z-index: 1;
  }

  .navigate-block {
    padding-left: 10px;
  }

  .navigate-block>button {
    width: 185px;
  }

  .back-ellipse-1,
  .back-ellipse-2,
  .back-ellipse-3,
  .back-ellipse-4,
  .back-ellipse-5 {
    display: none;
  }

  .disadvantage {
    width: 20px;
    bottom: 20%;
    left: -6%;
    rotate: -40deg;
  }

  .norma {
    width: 20px;
    top: 30%;
    left: -1%;
  }

  .excess {
    width: 20px;
    top: 3%;
    left: 28%;
    rotate: 35deg;
  }

  .fatness-1 {
    width: 20px;
    top: 3%;
    left: 65%;
    rotate: 80deg;
  }

  .fatness-2 {
    width: 20px;
    top: 30%;
    right: -1%;
    rotate: 120deg;
  }

  .fatness-3 {
    width: 20px;
    bottom: 20%;
    right: -5%;
    rotate: 170deg;
  }
}