.recovery-form {
	width: 30vw;
	height: 200px;
	background-color: black;
	margin: auto;
	border-radius: 1.6vw;
}

.inputs-block {
	width: 50%;
	margin: 2vw auto;
	padding-top: 2vw;
}

.send-block {
	display: flex;
	/* flex-direction: column; */
	margin-bottom: 2vw;
}

.pin_code-block {
	display: flex;
	/* flex-direction: column; */
}

.send-block > input,
.pin_code-block > input {
	height: 2vw;
	border-radius: 0.7vw;
	border: none;
	text-align: center;
}

.send-block > button,
.pin_code-block > button {
	width: 4vw;
	margin-left: 1vw;
	border-radius: 0.7vw;
	border: none;
}
