.password-recovery-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.recovery-form {
  width: 460px;
  height: 350px;
  padding: 34px 34px 0px 34px;
  margin: 0 auto;
  border-radius: 16px;
  z-index: 2;
  background: #ffffff;
  color: #001233;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(86, 105, 255, 0.1);
}

.recovery-form-block-1 {
  height: 63px;
  font-size: 32px;
  line-height: 39px;
}

.recovery-form-block-2 {
  height: 64px;
  text-align: center;
}

.recovery-form-block-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 28.63px;
}

/* 2 */

.recovery-form2-block-1 {
  height: 70px;
  font-size: 32px;
  line-height: 39px;
}

.recovery-form2-block-2 {
  height: 79px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.recovery-form2-block-3 {
  margin-bottom: 37.63px;
}

/* 3 */
.recovery-form3 {
  width: 460px;
  height: 393px;
  padding: 34px 34px 0px 34px;
  margin: 0 auto;
  border-radius: 16px;
  z-index: 2;
  background: #ffffff;
  color: #001233;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 10px rgba(86, 105, 255, 0.1);
}

.recovery-form3-block-1 {
  height: 80px;
  font-size: 32px;
  line-height: 39px;
}

.recovery-form3-block-2 {
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 17.5px;
}

.recovery-form3-block-3 {
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30.29px;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  animation: animate 1s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes moveup {

  0%,
  60%,
  100% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
  }

  25% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
  }
}

@keyframes moveup {

  0%,
  60%,
  100% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
  }

  25% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
  }
}

@-webkit-keyframes movedown {

  0%,
  60%,
  100% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
  }

  25% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
  }
}

@keyframes movedown {

  0%,
  60%,
  100% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
  }

  25% {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
  }
}

/**
 * Square layer styles
 */
.layer {
  display: block;
  position: absolute;
  height: 4em;
  width: 4em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
}

.layer:nth-of-type(1) {
  background: #000000;
  margin-top: 1.5em;
  animation: movedown .5s cubic-bezier(0.39, 0.575, 0.565, 1) .2s infinite normal;
}

.layer:nth-of-type(1):before {
  content: '';
  position: absolute;
  width: 85%;
  height: 85%;
  background: #000000;
}

.layer:nth-of-type(2) {
  background: rgb(0, 191, 255);
  margin-top: 0.75em;
}

.layer:nth-of-type(3) {
  background: rgba(255, 255, 255, 0.6);
  animation: moveup .5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
}

.loader {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}