@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* recipes page 1*/
.recipes-container {
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
}

.recipes-container__recipe-parent-block {
	width: 83.7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recipe-child-block {
	position: relative;
	width: 83.7%;
	height: 100vh;
	background: #F1F3FF;
	box-shadow: 1px 1px 26px 2px rgba(86, 105, 255, 0.25);
	border-radius: 24px;
	padding: 30px 50px 142px;
	text-align: center;
	z-index: 1;
}

.burger-menu {
	display: none;
}

.recipes-title {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	color: #001233;
	margin-bottom: 40px;
}

.recipes-txt-1 {
	width: 443px;
	height: 42px;
	margin: 0 auto 30px;
	padding: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #001233;
	background: #D1D8FF;
	border-radius: 8px;
}

.recipes-txt-2 {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #001233;
	margin-bottom: 25px;
}

.recipes-prod-count {
	display: none;
}

.recipes-btn-block {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.btn-btn {
	width: 356px;
	height: 85px;
	background: #5669FF;
	border-radius: 16px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #E7E8EF;
	border: none;
	margin: 0 auto;
	cursor: pointer;
	z-index: 1;
}

.image-1 {
	position: absolute;
	left: 170px;
	top: 183px;

	opacity: 0.4;
}

.image-2 {
	position: absolute;
	width: 222.92px;
	height: 248.41px;
	left: 187px;
	top: 281px;

	opacity: 0.4;
}

.image-3 {
	position: absolute;
	left: 106px;
	top: 510px;

	opacity: 0.4;
}

.image-4 {
	position: absolute;
	left: 436px;
	top: 589px;

	opacity: 0.4;
}

.image-5 {
	position: absolute;
	left: 740px;
	top: 599px;

	opacity: 0.4;
}

.image-6 {
	position: absolute;
	left: 760px;
	top: 337px;

	opacity: 0.4;
}

.image-7 {
	position: absolute;
	left: 749px;
	top: 232px;

	opacity: 0.4;
}

.image-8 {
	position: absolute;
	left: 680px;
	top: 178px;

	opacity: 0.4;

}

/* --------media recipes page 1-------- */

@media (max-width: 1133px) {
	.recipes-container {
		max-width: 100%;
		height: 100%;
	}

	.recipe-child-block {
		max-width: 747px;
		height: 600px;
		padding: 10px 50px 142px;
	}
}

@media (max-width: 992px) {
	.recipe-child-block {
		width: 610px;
		height: 600px;
	}
}

@media (max-width: 768px) {
	.recipes-container {
		justify-content: center;
	}

	.recipes-container__recipe-parent-block {
		padding: 48px 0px 21px;
	}

	.recipe-child-block {
		width: 610px;
		height: 665px;
	}

	.burger-menu {
		margin: 23px 0px 0px 2px;
		display: block;
		width: 40px;
		height: 37px;
	}
}

@media (max-width: 600px) {
	.recipes-container {
		background: #F1F3FF;
	}

	.recipe-child-block {
		margin-top: 48px;
		padding: 10px 18px 142px;
		width: 335px;
		height: 743px;
	}

	.recipes-header {
		display: flex;
		align-items: center;
		margin: 16px 0;
	}

	.burger-menu {
		margin: 0;
		display: block;
		width: 24px;
		height: 24px;
	}

	.recipes-title {
		display: none;
	}

	.recipes-txt-1 {
		width: 234px;
		height: 54px;
		padding: 10px 8px;
		margin: 0 0 0 15px;
		font-size: 14px;
		line-height: 17px;
	}

	.recipes-txt-2 {
		display: none;
	}

	.btn-btn {
		width: 300px;
		height: 85px;
		font-size: 20px;
		line-height: 24px;
	}

	.btn-btn+.btn-btn {
		margin-top: 28px;
	}

	.image-1 {
		left: 212px;
		top: 225px;
		transform: rotate(304deg);
	}

	.image-2 {
		left: 111px;
		top: 463px;
	}

	.image-3 {
		left: 6px;
		top: 607px;
	}

	.image-4 {
		left: 197px;
		top: 636px;
	}

	.image-5 {
		left: 49px;
		top: 217px;
	}

	.image-6 {
		left: -10px;
		top: 360px;
		transform: matrix(-0.91, 0.4, 0.4, 0.91, 0, 0);
	}

	.image-7 {
		position: absolute;
		left: 749px;
		top: 232px;
	}
}





/* recipes page 2----------------*/
.recipes-container-second {
	display: flex;
	background: #F1F3FF;
	position: relative;
	display: none;
}

.recipes-parent-block-second {
	max-width: 83.7%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 112px 102px 0px 133px;
}

.recipes-child-block-second {
	max-width: 955px;
	height: 1204px;
	padding: 0 99px 0 98px;
	margin: 0 auto;
	background: #F1F3FF;
	box-shadow: 1px 1px 26px 2px rgba(86, 105, 255, 0.25);
	border-radius: 24px;
	z-index: 1;
}

.recipes-title-breakf {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	margin: 30px 0 16px 0;
}

.recipes-serch-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 13px 0;
}

.recipes-serching {
	width: 488px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F1F3FF;
	border: 2px solid #DDE1FF;
	border-radius: 8px;


}

.recipes-serch-placehold {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #001233;
	opacity: 0.4;
}

.select {
	width: 185px;
	padding: 10px 7px 10px 17px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	background: #F1F3FF;
	border: 1px solid #DDE1FF;
	border-radius: 8px;
	color: #001233;
	outline: none;
}

.select>option {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	background: #F1F3FF;
	color: #001233;
	margin-bottom: 12px;
}



/* --------------------- */

.recipes-menu-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	padding: 24px 0 0 0;
}

.recipes-menu-items {
	width: 757px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #E9EBFE;
	box-shadow: 4px 4px 4px rgba(106, 121, 252, 0.25);
	border-radius: 16px;
	padding: 17px 104px 17px 19px;
}

.photo-1 {
	width: 134px;
	height: 122px;
}

.recipes-menu-div {
	width: 470px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 30px;
}

.recipes-menu-txt {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #001233;
}

.recipes-menu-txt-kcal {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #001233;

	opacity: 0.6;
}

.menu-prod-item {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #001233;
}

.bg-ellips-1 {
	position: absolute;
	width: 357px;
	height: 361px;
	left: 801px;
	top: 9px;

	background: #338BB1;
	filter: blur(150px);
}

.bg-ellips-2 {
	position: absolute;
	width: 357px;
	height: 361px;
	left: 42px;
	top: 144px;

	background: rgba(106, 121, 252, 0.7);
	filter: blur(150px);
}

.bg-ellips-3 {
	position: absolute;
	width: 357px;
	height: 361px;
	left: 45px;
	top: 653px;

	background: #B5BCF0;
	filter: blur(150px);
}

/*-------MEDIA recipes page 2-------- */

@media (max-width: 1220px) {
	.recipes-parent-block-second {
		padding: 112px 60px 0 30px;
	}

	.recipes-child-block-second {
		width: 747px;
		padding: 0 20px;
	}

	.recipes-title-breakf {
		font-weight: 500;
		font-size: 28px;
		line-height: 34px;
	}

	.recipes-menu-items {
		width: 701px;
		background: #F1F3FF;
	}

	.recipes-menu-div-1 {
		max-width: 475px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.bg-ellips-1,
	.bg-ellips-2,
	.bg-ellips-3 {
		display: none;
	}
}

@media (max-width: 1000px) {
	.recipes-child-block-second {
		width: 517px;
		padding: 0 28px 0 29px;
	}

	.recipes-menu-items {
		width: 460px;
		padding: 17px 19px;
	}

	.recipes-menu-div {
		width: 267px;
		margin-left: 18px;
	}
}

@media (max-width: 768px) {
	.recipes-parent-block-second {
		padding: 48px 20px;
		margin: 0 auto;
	}

	.recipes-child-block-second {
		width: 335px;
		padding: 0 10px;
	}

	.recipes-title-breakf {
		margin: 20px 0;
		padding-left: 17px;
	}

	.recipes-serch-box {
		display: none;
	}

	.recipes-menu-block {
		gap: 20px;
		padding: 0;
	}

	.recipes-menu-items {
		width: 315px;
		padding: 17px 19px;
		justify-content: left;

	}

	.recipes-menu-div {
		width: 105px;
		margin-left: 20px;
		flex-direction: column;
		gap: 18px;
	}

	.recipes-menu-txt {
		font-size: 20px;
		line-height: 24px;
	}

	.recipes-menu-txt-kcal {
		font-size: 16px;
		line-height: 19px;
	}

	.menu-prod-item {
		font-size: 14px;
		line-height: 17px;
	}

}

/* RECIPES page 3--------------------*/

.recipes-container-third {
	display: flex;
	justify-content: space-between;
	background: #F1F3FF;
	/* display: none; */
}

.recipes-parent-block-third {
	position: relative;
	width: 83.7%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 112px 102px 0px 57px;
}

.recipes-child-block-third {
	width: 955px;
	height: 1400px;
	left: 383px;
	top: 112px;

	background: #F1F3FF;
	box-shadow: 1px 1px 26px 2px rgba(86, 105, 255, 0.25);
	border-radius: 24px;
}

.recipes-arrow-break-3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 50px;

	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	margin: 40px 0 15px 73px;
}

.recipes-txt-4 {
	width: 499px;
	height: 42px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	background: #D1D8FF;
	border-radius: 8px;
	padding: 11px;
	text-align: center;
}

.recipes-menu-ingrid {
	position: relative;
	display: flex;
	flex-direction: column;
}

.photo-ingrid {
	width: 300px;
	height: 300px;
}

.recipes-ingrid-prod-kcal {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 55px;
	padding: 35px 131px 0px 97px;
	margin-bottom: 56px;
}

.add-btn {
	position: absolute;
	width: 148px;
	height: 44px;
	left: 185px;
	top: 281px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #F1F3FF;
	background: #5669FF;
	border-radius: 8px;
	border: none;
	padding: 11.5px 25px 4px;
	display: flex;
}

.plus-icon {
	width: 24px;
	height: 24px;
	margin-left: 8px;
}

.recipes-ingrid-prod {
	display: flex;
	flex-direction: column;
}

.recipes-ingrid-kcal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.recipes-ingrid-catalog {
	width: 372px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #DDE1FF;
	border-radius: 8px;
}

.recipes-menu-txt-a {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #001233;
	margin-bottom: 16px;
}

.recipes-menu-kcal {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #001233;

	opacity: 0.6;
}

.menu-ingrid-item {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #001233;
}

.menu-ingrid-item+.menu-ingrid-item {
	margin-top: 8px;
}

.recipe-ingridients {

	width: 372px;
	height: 171px;
	text-align: center;
	padding-top: 31px;
}

.recipe-ingridients-mobile {
	display: none;
}

.ingridients-title {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #001233;
	text-align: left;
	margin-bottom: 18px;

}

.ingridients-box {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed #001233;
}

.ingridients-box+.ingridients-box {
	margin-top: 12px;
}

.ingridients-box>p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #001233;

}

.recipes-steps-blc {
	margin-left: 97px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	row-gap: 18px;
	column-gap: 30px;

}

.recipes-step-cont {
	width: 752px;
	height: 188px;
	display: flex;
	gap: 35px;
}

.recipes-step {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 13px;
}

.recipes-desc-txt-1 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #001233;
}

.recipes-desc-txt-2 {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #001233;
}

.recipes-bg-ellips-1 {
	position: absolute;
	width: 357px;
	height: 361px;
	left: 339px;
	top: 653px;

	background: #B5BCF0;
	filter: blur(150px);
	z-index: -1;
	display: none;
}

.recipes-bg-ellips-2 {
	position: absolute;
	width: 357px;
	height: 361px;
	left: 286px;
	top: 144px;

	background: rgba(106, 121, 252, 0.7);
	filter: blur(150px);
	z-index: -1;
	display: none;
}

.recipes-bg-ellips-3 {
	position: absolute;
	width: 357px;
	height: 361px;
	left: 801px;
	top: 9px;

	background: #338BB1;
	filter: blur(150px);
	z-index: -1;
	display: none;
}

/* ---MEDIA recipes page-3---------- */

@media (max-width: 1220px) {
	.recipes-parent-block-third {
		padding: 72px 63px 30px 128px
	}

	.recipes-child-block-third {
		width: 747px;
		padding: 0 20px;
	}

	.recipes-arrow-break-3 {
		margin: 30px 0 16px 30px;
	}

	.recipes-ingrid-prod-kcal {
		padding: 30px 25px 33px;
		margin-bottom: 0;
		gap: 25px;
	}

	.recipes-steps-blc {
		margin-left: 0;
		row-gap: 20px;
	}

	.recipes-step-cont {
		padding: 0 43px 0 25px;
	}

	.recipes-desc-txt-2 {
		font-size: 16px;
		line-height: 19px;
	}
}

@media (max-width: 1000px) {
	.recipes-child-block-third {
		width: 747px;
	}

	.recipes-arrow-break-3 {
		font-size: 28px;
		line-height: 34px;
	}

	.recipes-ingrid-prod-kcal {
		width: 460px;
	}

	.recipes-ingrid-kcal {
		align-items: start;
	}

	.recipes-ingrid-catalog {
		width: 320px;
	}

	.recipe-ingridients {
		width: 318px;
	}

	.recipes-menu-txt-a {
		font-size: 24px;
		line-height: 29px;
	}

	.recipes-menu-kcal {
		font-size: 20px;
		line-height: 24px;
		color: #001233;
		opacity: 0.6;
	}

	.menu-ingrid-item {
		font-size: 16px;
		line-height: 19px;
	}

	.ingridients-title {
		font-size: 24px;
		line-height: 29px;
	}

	.ingridients-box {
		font-size: 16px;
		line-height: 19px;
	}

	.ingridients-box+.ingridients-box {
		margin-top: 7px;
	}

	.rec-photo-1,
	.rec-photo-2,
	.rec-photo-3,
	.rec-photo-4 {
		width: 231px;
		height: 188px;
	}
}

@media (max-width: 880px) {
	.recipes-parent-block-third {
		padding: 0px;
		margin: 0 auto;
	}

	.recipes-child-block-third {
		width: 335px;
		height: 100%;
		margin-top: 48px;
	}

	.recipes-arrow-break-3 {
		font-size: 28px;
		line-height: 34px;
		margin: 20px 0 37px 0;
		gap: 12px;
	}

	.recipes-txt-4 {
		display: none;
	}

	.recipes-ingrid-prod-kcal {
		width: 293px;
		padding: 0 0 30px 0;
		justify-content: flex-start;
	}

	.photo-ingrid {
		width: 134px;
		height: 122px;
	}

	.recipes-ingrid-catalog {
		width: 105px;
		flex-direction: column;
		align-items: flex-start;
		gap: 18px;
		background: none;
	}

	.recipe-ingridients {
		display: none;
	}

	.recipe-ingridients-mobile {
		display: block;
		width: 293px;
	}

	.recipes-steps-blc {
		margin-top: 30px;
	}

	.recipes-step-cont {
		width: 296px;
		height: 345px;
		padding: 0 0 0 0;
		flex-direction: column;
		gap: 16px;
	}

	.recipes-step-cont+.recipes-step-cont {
		margin-top: 12px;
	}

	.recipes-menu-txt-a {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 0;
	}

	.recipes-menu-kcal {
		font-size: 16px;
		line-height: 19px;
	}

	.menu-ingrid-item {
		font-size: 14px;
		line-height: 17px;
	}

	.rec-photo-1,
	.rec-photo-2,
	.rec-photo-3,
	.rec-photo-4 {
		width: 297px;
		height: 188px;
	}

	.recipes-desc-txt-1 {
		font-size: 20px;
		line-height: 24px;
	}

	.recipes-desc-txt-2 {
		font-size: 14px;
		line-height: 17px;
	}

}