@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.register-form-page {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background: #E7E8EF;
}

.register-form-page-background-1 {
	position: absolute;
	width: 24.722%;
	height: 35.253%;
	left: 49.097%;
	top: 2.014%;
	background: #338BB1;
	filter: blur(150px);
}

.register-form-page-background-2 {
	position: absolute;
	width: 24.722%;
	height: 35.253%;
	left: 70.272%;
	top: 42.481%;
	background: #384DF3;
	filter: blur(150px);
}

.register-form-page-background-3 {
	position: absolute;
	width: 24.722%;
	height: 35.253%;
	left: 12.847%;
	top: 21.093%;
	background: rgba(106, 121, 252, 0.7);
	filter: blur(150px);
}

.register-form-page-background-4 {
	position: absolute;
	width: 24.722%;
	height: 35.253%;
	left: 17.073%;
	top: 64%;
	background: #B5BCF0;
	filter: blur(150px);
}

.register-form-page-background-5 {
	position: absolute;
	width: 24.722%;
	height: 35.253%;
	left: 36.18%;
	top: 38, 379%;
	background: #6EC4CA;
	filter: blur(150px);
}

.register-form {
	width: 459px;
	height: 616px;
	border-radius: 16px;
	margin: 0 auto;
	background: #ffffff;
	padding-top: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #001233;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.register-form h3 {
	height: 39px;
	width: 44.226%;
	margin-bottom: 12px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
}

.register-form .input-desc {
	height: 22px;
	width: 65.359%;
	margin-bottom: 10px;
}

.register-form input {
	width: 65.359%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid #001233;
	border-radius: 8px;
	text-align: center;
	transition: 0.4s;
	font-size: 18px;
	line-height: 22px;
}

.age-gender-block {
	width: 65.359%;
	height: 30px;
	margin-bottom: 10px;
	display: flex;
}

.age-gender-block input {
	width: 23.33%;
	height: 100%;
	margin-left: 10px;
	border: 1px solid #001233;
	border-radius: 8px;
}

.age-gender-block select {
	width: 31.33%;
	text-align: center;
	height: 100%;
	margin-left: 40px;
	border: 1px solid #001233;
	border-radius: 8px;
}

select option {
	height: 50%;
	width: 100%;
}

.register-btn {
	font-size: 20px;
	line-height: 24px;
	transition: 0.5s;
	border: none;
	border-radius: 8px;
	margin-top: 35px;
	margin-bottom: 16px;
	width: 60.566%;
	height: 44px;
	background: #5669FF;
	color: #E7E8EF;
}

.register-btn-log-in {
	font-size: 20px;
	line-height: 24px;
	transition: 0.5s;
	border: 1px solid #001233;
	border-radius: 8px;
	width: 60.566%;
	height: 44px;
	background: #FFFFFF;
}

.register-btn:hover {
	transform: translateY(-5px);
	box-shadow: 0 20px 30px -6px rgb(59, 30, 186), 0 0px 4px -8px rgb(0, 255, 0),
		inset 0 0 100px rgb(255, 255, 255);
	transition: 0.7s;
	border: none;
	color: #2f3248;
}

.register-btn:active {
	transform: translateY(2px);
	box-shadow: 0 20px 20px -6px rgb(59, 30, 186), 0 0px 1px -8px rgb(0, 255, 0);
	transition: 0.3s;
}

.radio-group {
	margin: auto;
}

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
	background-color: transparent !important;
	box-shadow: none !important;
}