@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.register-form-page {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	background: #E7E8EF;
}

.check {
	width: 100vw;
	height: 100vh;
	background: #ff00d9;
}

.register-form-page-background-1 {
	position: absolute;
	width: 356.1px;
	height: 361px;
	left: 706.69px;
	top: 29px;
	background: #338BB1;
	filter: blur(150px);
}

.register-form-page-background-2 {
    position: absolute;
    width: 356.1px;
    height: 361px;
    left: 1021.9px;
    top: 435px;
    background: #384DF3;
    filter: blur(150px);
}

.register-form-page-background-3 {
    position: absolute;
    width: 356.1px;
    height: 361px;
    left: 185px;
    top: 216px;

    background: rgba(106, 121, 252, 0.7);
    filter: blur(150px);
}

.register-form-page-background-4 {
    position: absolute;
    width: 356.1px;
    height: 361px;
    left: 245.85px;
    top: 673px;

    background: #B5BCF0;
    filter: blur(150px);
}

.register-form {
    width: 459px;
    height: 616px;
    border-radius: 16px;
	margin: 0 auto;
    background: #ffffff;
	padding-top: 30px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #001233;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.register-form h3 {
    height: 39px;
	width: 44.226%;
	margin-bottom: 12px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.register-form .input-desc {
	height: 22px;
	width: 65.359%;
	margin-bottom: 10px;
}

.register-form input {
	width: 65.359%;
    height: 40px;
	margin-bottom: 10px;
	border: 1px solid #001233;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
	font-size: 18px;
	line-height: 22px;
}

.age-gender-block {
	width: 65.359%;
	height: 30px;
	margin-bottom: 10px;
	display: flex;
}

.age-gender-block input {
	width: 70px;
	height: 100%;
	margin-left: 10px;
	border: 1px solid #001233;
	border-radius: 8px;
}

.age-gender-block select {
    width: 94px;
    height: 100%;
	margin-left: 40px;
    border: 1px solid #001233;
    border-radius: 8px;
}

select option {
	height: 50%;
	width: 100%;
	background: #ff00d9;
}

.register-btn { 
    font-size: 20px;
    line-height: 24px;
    transition: 0.5s;
	border: none;
    border-radius: 8px;
	margin-top: 35px;
	margin-bottom: 16px;;
    width: 60.566%;
    height: 44px;
    background: #5669FF;
	color: #E7E8EF;
}

.register-btn-log-in {
    font-size: 20px;
    line-height: 24px;
    transition: 0.5s;
    border: 1px solid #001233;
    border-radius: 8px;
    width: 60.566%;
    height: 44px;
    background: #FFFFFF;
}

.register-btn:hover {
	transform: translateY(-5px);
	box-shadow: 0 20px 30px -6px rgb(59, 30, 186), 0 0px 4px -8px rgb(0, 255, 0),
		inset 0 0 100px rgb(255, 255, 255);
	transition: 0.7s;
	border: none;
	color: #2f3248;
}

.register-btn:active {
	transform: translateY(2px);
	box-shadow: 0 20px 20px -6px rgb(59, 30, 186), 0 0px 1px -8px rgb(0, 255, 0);
	transition: 0.3s;
}

.radio-group {
	margin: auto;
}

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
	background-color: transparent !important;
	box-shadow: none !important;
}

/* .css-hyum1k-MuiToolbar-root {
  display: block !important;
  -webkit-box-align: start;
} */

/* .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 8px 14px !important;
} */
