@media all and (max-width: 630px) {
	.crud-block {
		width: 80vw;
	}
	.crud-inputs-block3 {
		width: 70vw;
	}
	.crud-inputs-block4 {
		width: 70vw;
	}
	.crud-inputs {
		height: 35px;
	}
	.input-block2 {
		width: 90%;
	}
}

@media all and (max-width: 570px) {
	.crud-inputs__inner-select {
		width: 130px;
	}
	.crud-inputs-mini {
		width: 15vw;
		height: 30px;
		font-size: 15px;
	}
	.crud-inputs {
		height: 31px;
		font-size: 16px;
	}
	.create-btn {
		width: 250px;
		height: 32px;
		font-size: 1em;
	}
}

@media all and (max-width: 500px) {
	.crud-inputs__inner-select {
		width: 110px;
	}
	.css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
		font-size: 0.8em !important;
	}
	.crud-inputs-block1 {
		margin: 1em;
	}
	.crud-inputs-mini {
		width: 17vw;
		height: 25px;
		font-size: 13px;
	}
}

@media all and (max-width: 400px) {
	.css-18nu0jg-MuiFormLabel-root-MuiInputLabel-root {
		font-size: 0.7em !important;
	}
	.crud-inputs__inner-select {
		width: 100px;
	}
}
