@media all and (max-width: 376px) {

  .recovery-form {
    width: 100%;
    padding: 39px 39px 0px 39px;
    background: transparent;
    box-shadow: none;
    z-index: 1;
  }

  .recovery-form-block-1 {
    height: 53px;
    font-size: 32px;
    line-height: 39px;
  }

  .recovery-form-block-2 {
    height: 86px;
    text-align: center;
  }

  .recovery-form-block-3 {
    margin-bottom: 30px;
  }

  .loader {
    left: 55%;
  }

  /* 2 */

  .recovery-form2-block-1 {
    margin-top: 33.5px;
    height: 52px;
  }

  .recovery-form2-block-2 {
    height: 75px;
  }

  .recovery-form2-block-3 {
    margin-bottom: 30px;
  }

  /* 3 */
  .recovery-form3 {
    width: 460px;
    height: 330px;
    padding: 37.5px 30px 0px 30px;
    background: none;
    z-index: 1;
  }

  .recovery-form3-block-1 {
    height: 59px;
  }

  .recovery-form3-block-2 {
    height: 70px;
    margin-bottom: 16px;
  }

  .recovery-form3-block-3 {
    height: 70px;
    margin-bottom: 30px;
  }
}