@media all and (max-width: 376px) {

    .register-form-page {
        background-color: transparent;
    }

    .register-form {
        width: 375px;
        z-index: 1;
        background: transparent;
    }

    .age-gender-block {
        width: 80%;
    }

    .input-desc {
        width: 80%;
    }

    .age-gender-block select {
        background: transparent;
        width: 25.066%;

    }

    .register-btn {
        width: 74.133%;
    }

    .register-btn-log-in {
        width: 74.133%;
        height: 44px;
        background: transparent;
    }

    .register-form h3 {
        width: 54.133%;
    }

    .register-form-page-background-1,
    .register-form-page-background-2,
    .register-form-page-background-3,
    .register-form-page-background-4,
    .register-form-page-background-5 {
        display: none;
    }

}