@media all and (max-width: 1133px) {
  .siteBar {
    width: 21.3%;
  }
}

@media all and (max-width: 745px) {
  .logo-block {
    padding: 15px 0;
    width: 90%;
    justify-content: space-around;
  }

  .logo-block>img {
    width: 60px;
  }

  .logo-block>h2 {
    font-size: 20px;
  }

  .navigate-block {
    padding-left: 0;
  }

  .navigate-block>button {
    width: 160px;
    font-size: 16px;
  }

  .logout-btn {
    left: 30px;
  }
}

@media all and (max-width: 376px) {
  .siteBar {
    position: absolute;
    transform: translateX(-300px);
    z-index: 1;
    transition: .6s;
  }

  .navigate-block {
    padding-left: 10px;
  }

  .navigate-block>button {
    width: 185px;
  }

  .logout-btn {
    left: 50px;
  }

}