* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    /* top center */
  }

  50% {
    background-position: 100% 50%;
    /* bottom center */
  }

  100% {
    background-position: 0% 50%;
    /* top center */
  }
}

.gradient {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.stack1 {
  background: radial-gradient(at 90% 90%,
      rgba(0, 255, 0, 0.6) 0%,
      rgba(0, 255, 0, 0) 80%);
}

.stack2 {
  background: radial-gradient(at 70% 30%,
      rgba(229, 93, 135, 0.5) 0%,
      rgba(95, 195, 228, 0.5) 80%);
}

.stack3 {
  background: radial-gradient(at 20% 30%,
      rgba(34, 193, 195, 0.6) 0%,
      rgba(253, 187, 45, 0.6) 100%);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite alternate;

  animation-name: gradient;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: transparent !important;
}

input:focus {
  outline: none !important;
  outline-offset: none !important;
}